.create-questions-container {
    background-color: var(--bg4);
    margin-block: 20px;
    margin-inline: 30px;
    padding: 20px;
    border-radius: 15px;
}

.create-question-container {
    min-width: 80%;
    max-width: 95%;
    background-color: var(--bg3);
    padding: 10px;
    margin-block: 20px;
    width: fit-content;
    margin-inline: auto;
    border-radius: 10px;
}

.create-answer-container {
    background-color: var(--bg4);
    border-radius: 15px;
    padding: 10px;
    margin-block: 10px;
}

.create-question-answer-appear-enter {
    transform: translate(0px, -10px);
    opacity: 0;
}

.create-question-answer-appear-enter-active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-question-answer-appear-exit {
    transform: translate(0px, 0px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-question-answer-appear-exit-active {
    transform: translate(20px, 0px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-question-appear-enter {
    transform: translate(0px, -10px);
    opacity: 0;
}

.create-question-appear-enter-active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-question-appear-exit {
    transform: translate(0px, 0px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-question-appear-exit-active {
    transform: translate(20px, 0px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}