.create-general-container {
    background-color: var(--bg4);
    margin-block: 20px;
    margin-inline: 30px;
    padding: 20px;
    border-radius: 15px;
}

.create-result-range-container {
    position: relative;
    min-width: 80%;
    background-color: var(--bg3);
    padding: 10px;
    margin-block: 20px;
    width: fit-content;
    margin-inline: auto;
    border-radius: 10px;
}

.create-result-range-appear-enter {
    transform: translate(0px, -10px);
    opacity: 0;
}

.create-result-range-appear-enter-active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.create-result-range-appear-exit {
    transform: translate(0px, 0px);
    opacity: 1;
}

.create-result-range-appear-exit-active {
    transform: translate(20px, 0px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
