.create-general-container {
    background-color: var(--bg4);
    margin-block: 20px;
    margin-inline: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.create-result-range-container {
    min-width: 60%;
    background-color: var(--bg3);
    padding: 10px;
    margin-block: 20px;
    width: fit-content;
    margin-inline: auto;
    border-radius: 10px;
}

.create-result-range-appear-enter {
    transform: translate(0px, -10px);
    opacity: 0;
}

.create-result-range-appear-enter-active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 200ms ease-out;
}

.create-result-range-appear-exit {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 200ms ease-out;
}

.create-result-range-appear-exit-active {
    transform: translate(20px, 0px);
    opacity: 0;
    transition: all 200ms ease-out;
}
