.question-header {
    margin-block: 12px;
}

.question-description {
    margin: 5px;
}

.question-container {
    border-bottom: 1px solid var(--bg-color);
    display: block;
    padding-block: 5px;
}