h1 {
    color: violet;
}
html {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

input[type="radio"], input[type="checkbox"], label {
    user-select: none;
}